/01-Conceptos-Basicos/01-Estructuras-Iterativas/nbproject/private/
/01-Conceptos-Basicos/Calculadorados/nbproject/private/
/01-Conceptos-Basicos/CalculadoraTesting/target/
/01-Conceptos-Basicos/NumeroPar/nbproject/private/
/01-Conceptos-Basicos/NumeroPar/build/
